@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

body {
  align-content: center;
  align-items: center;
  height: 100vh;
	/*width: 100%;*/
  background: #0f2027; 
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*justify-content: center;*/
  justify-content: flex-start;
  /*align-items: center;*/
  height: 100vh;
  color: #fff;
  width: 100vw;
}
/*
  align-content: center;
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: flex-start;
  margin: 0px;
  width: 100vw;
*/
.button_accept {
  /*align-items: center;*/
  /*appearance: none;*/
  background-image: radial-gradient(100% 100% at 100% 0, #97ff5a 0, #20ac1b 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /*display: inline-flex;*/
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  /*position: relative;*/
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 250px;
  position: absolute;
  left: 20px;
  top:100px
}

.button_accept:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button_accept:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button_accept:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/*-----------------------------------------------------------------*/

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    green 0%,
    #26d669 29%,
    #30d0ec 67%,
    #1f5cb6 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/*---------------------------------------*/
.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 238px;
  left: 20px;
}

.form__input {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top: 208px;
  left: 20px;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labela {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 308px;
  left: 20px;
}

.form__inputa {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top: 
  278px;
  left: 20px;
}

.form__inputa:placeholder-shown + .form__labela {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labelad {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 378px;
  left: 20px;
}

.form__inputad {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top:  348px;
  left: 20px;
}

.form__inputad:placeholder-shown + .form__labelad {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labelb {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 448px;
  left: 20px;
}

.form__inputb {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 180px;
  /*display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top:  418px;
  left: 20px;
}

.form__inputb:placeholder-shown + .form__labelb {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labeli {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 518px;
  left: 20px;
}

.form__inputi {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top:  488px;
  left: 20px;
}

.form__inputi:placeholder-shown + .form__labeli {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labelp {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 588px;
  left: 20px;
}

.form__inputp {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top:  558px;
  left: 20px;
}

.form__inputp:placeholder-shown + .form__labelp {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/
/*---------------------------------------*/
.form__labele {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  /*display: block;*/
  transition: all 0.3s;
  transform: translateY(0rem);
  position: absolute;
  top: 588px;
  left: 300px;
}

.form__inpute {

  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.95rem;
	margin: 0 auto;
  padding: 0.40rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /*width: 70%;
  display: block;*/

  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: absolute;
  top:  558px;
  left: 300px;
}

.form__inpute:placeholder-shown + .form__labele {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
/*-------------------------------------------------*/

.select-ctr {
  position: absolute;
  top: 385px;
  left: 450px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  height: 370px;
  font-family: "Roboto";
}
.select-ctr > div {
  padding: 15px 10px;
  position: absolute;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
}
.select-ctr .input-5 {
  top: 300px;
}
.select-ctr .input-4 {
  top: 240px;
}
.select-ctr .input-3 {
  top: 180px;
}
.select-ctr .input-2 {
  top: 120px;
}
.select-ctr .input-1 {
  top: 60px;
}
.select-ctr > div.input {
  background: #fff;
  color: #777;
  border-radius: 2px;
  box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1);
}
.select-ctr > div.input.active {
  color: #1D77EF;
}
.select-ctr > div.input-preview {
  color: rgba(255, 255, 255, 0.75);
  position: relative;
  transition: .3s all ease;
}
.select-ctr > div.input-preview.active {
  color: white;
}
.select-ctr > div.input-preview:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 180px;
  bottom: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-clip-path: polygon(50% 73%, 0 0, 100% 0);
  clip-path: polygon(50% 73%, 0 0, 100% 0);
  padding: 10px;
  box-sizing: border-box;
  transition: .3s all ease;
}
.select-ctr > div.input-preview.active:before {
  background: white;
  -webkit-clip-path: polygon(50% 0, 0 73%, 100% 73%);
  clip-path: polygon(50% 0, 0 73%, 100% 73%);
}




